* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
}

html {
  /* Set rem */
  /* percentage of user-browser setting */
/* 1920 * 1080*/
  font-size: 62.5%; 
  /* 3840 * 1260 */
  /* font-size: 187.5%; */
}

body {
  /* ------------------------------ Initial setup ----------------------------- */
  line-height: 1;
  font-weight: 400;
  color: #555;
  height: 100vh;
  /* -------------------------------------------------------------------------- */
}

#app {
  height: 100%;
}
